ADDR=127.0.0.1
PORT=3000
SERVICE_NAME=short

DB_USER=short
DB_PASSWORD=secret
DB_PORT=5432
DB_ADDRESS=localhost
DB_NAME=short
DB_SSLMODE=disable

DB_SUPERUSER=admin
DB_SUPERDB=postgres

REDIS_ADDR=localhost:6379
REDIS_USER=
REDIS_PASS=

RMQ_ADDR=guest
RMQ_USER=guest
RMQ_PASS=localhost:5672