ADDR=127.0.0.1
PORT=3000
SERVICE_NAME=short

PREFIX=http://127.0.0.1:3000/

PG_USER=short
PG_PASSWORD=secret
PG_PORT=5432
PG_ADDRESS=localhost
PG_NAME=short
PG_SSLMODE=disable

PG_SUPERUSER=labib0x9
PG_SUPERDB=postgres

REDIS_ADDR=localhost:6379
REDIS_USER=
REDIS_PASS=

RMQ_ADDR=localhost:5672
RMQ_USER=guest
RMQ_PASS=guest